<div
  class="container flex h-12 items-center justify-between bg-black text-sm text-white"
>
  <div class="flex flex-1 items-center justify-center text-center">
    <p class="pr-2">
      Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
    </p>
    <a href="#" class="font-semibold">ShopNow</a>
  </div>
  <select name="lang" id="lang" class="mr-8 border-none bg-black text-white">
    <option value="english" selected="selected">English</option>
    <option value="français">Français</option>
  </select>
</div>
