<div class="display flex h-[781px] w-[1305px]">
  <div class="flex-1">
    <img
      src="assets/pictureforlogin.png"
      alt="Logo"
      class="h-[781px] w-[805px] object-cover"
    />
  </div>

  <div class="flex flex-1 items-center justify-center">
    <form
      action="https://example.com/api"
      method="post"
      class="w-full max-w-sm"
    >
      <h1 class="mb-4 text-2xl font-semibold">Create an account</h1>
      <h2 class="mb-6 text-gray-600">Enter your details below</h2>

      <div class="mb-4">
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Name"
          class="w-full border-b border-gray-400 px-2 py-1"
        />
      </div>

      <div class="mb-4">
        <input
          type="text"
          id="email_phone"
          name="email_phone"
          placeholder="Email or Phone Number"
          class="w-full border-b border-gray-400 px-2 py-1"
        />
      </div>

      <div class="mb-6">
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          class="w-full border-b border-gray-400 px-2 py-1"
        />
      </div>

      <div class="mb-4 flex items-center justify-between">
        <button
          type="submit"
          class="w-full rounded bg-[#DB4444] px-10 py-2 text-white"
        >
          Create Account
        </button>
      </div>

      <div class="mt-4 flex items-center justify-center">
        <button
          class="flex w-full items-center justify-center gap-2 rounded border border-gray-400 px-10 py-2"
        >
          <img
            src="https://www.svgrepo.com/show/475656/google-color.svg"
            alt="Google Logo"
            class="h-6 w-6"
          />
          <span class="font-medium">Sign Up with Google</span>
        </button>
      </div>

      <div class="mt-4 flex items-center justify-center">
        <p class="mr-1 text-gray-500">Already have account?</p>
        <a href="" class="text-gray-600 underline">Log in</a>
      </div>
    </form>
  </div>
</div>
